.card {
  width: 90%;
  background-color: var(--white);
  border-radius: 12px;
  position: relative;
  margin: 1.225rem auto;
  min-height: 125px;
  padding: 2em;
}

.numb-display {
  padding: 4px 2px;
  background-color: rgb(251, 76, 105);
  font-size: calc(1rem + 0.325vw);
  font-weight: 500;
  width: 2em;
  height: 2em;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  border: 1px solid white;
}

.flex {
  display: flex;

  justify-content: space-between;
  align-content: space-between;
}

.text-display {
  color: black;
  font-size: 0.825em;
  font-weight: 500;
}

p {
  font-size: calc(15px + 0.390625vw);
}

.delete {
  color: black;
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  cursor: pointer;
}

.edit {
  color: black;
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  cursor: pointer;
}

.delete:hover,
.edit:hover {
  transform: scale(1.3);
  transition: 200ms ease-in-out all;
}

.delete:active,
.edit:active {
  transform: scale(0);
  transition: 200s ease-in-out;
}
